@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.App {
  overflow: auto;
}
.image_upload_progress {
  width: 100%;
  height: 20px;
}
.scrollBar {
  height: 30;
  border: "1px solid green";
  margin: 6;
  padding: 8;
}

.settingsInfo {
  position: absolute;
}

.settingsInfoPN {
  position: absolute;
}

.interests {
  border-style: solid;
  border-spacing: 15px;
  padding-left: 30px;
  width: 110px;
}

.underline {
  text-decoration: underline;
}

.card-container {
  width: 1000px;
  overflow-x: scroll;
  display: flex;
  background-color: #100e17;
  padding: 3rem;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 20px;
}
.leftside,
.rightside {
  height: 100vh;
  width: 100%;
}

#myform {
  max-width: 420px;
  margin: 50px auto;
}

feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #6e6d6d;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #db9a0d;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}

.scrollBar {
  height: 30;
  border: "1px solid green";
  margin: 6;
  padding: 8;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: "30px";
}

.locationItem {
  text-align: left;
  size: 200px;
  font-weight: bold;
}

.settingsInfo {
  position: absolute;
  left: 500px;
}

.settingsInfoPN {
  position: absolute;
  left: 550px;
}

.interests {
  border-style: solid;
  border-spacing: 15px;
  padding-left: 30px;
  width: 110px;
}

.underline {
  text-decoration: underline;
}

.modalBackground {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
}
.modalShowing-true {
  opacity: 1;
  pointer-events: showing;
}

#to-do-form {
  border: 0;
  width: auto;
  height: 40px;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 50px;
}

#to-do-form input:focus,
#to-do-from button:focus {
  outline: none;
}

#to-do-form button {
  height: 40px;
  width: 80px;
  border: 0;
  cursor: pointer;
  font-weight: bolder;
  font-size: inherit;
  display: inline-block;
  position: relative;
  margin-left: 5px;
  vertical-align: top;
}

/*full list elements*/
.list {
  display: inline-table;
  padding: 10px;
  width: auto;
  height: 40px;
  margin: 20px auto;
  border-radius: 5px;
  margin-top: -30px;
}

/*text */
.list p {
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

/* Trash can */
.list p span {
  position: relative;
  text-align: left;
  cursor: pointer;
}

.faicons {
  text-align: right;
  margin: 0 5px;
  font-size: 15px;
}

Maps_h1 {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #281414;
  z-index: 10;
  margin: 0;
  padding: 0;
}

.search {
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 7rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 50px;
  cursor: pointer;
  height: 50px;
}
